workflows/all-workflows-2025-10-14_15-23-46.json
[{"createdAt":"2025-10-07T02:46:26.453Z","updatedAt":"2025-10-14T18:24:12.239Z","id":"o0lsgrVEZLM8qTb5","name":"Notifica Riscos e Variacoes de Temperatura","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"3fa6b193-2275-4bca-b518-23d6659e405d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[224,0],"id":"da686de3-d3c9-4ba8-a3bd-af4b7c55b049","name":"Webhook","webhookId":"3fa6b193-2275-4bca-b518-23d6659e405d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5dd237cb-f096-4492-84a3-d8b10c5cb453","leftValue":"={{ $json.tendencia }}","rightValue":"=estÔö£├¡vel","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,0],"id":"9bc71f52-e364-4730-8bf1-08b343716734","name":"TendÔö£┬¼ncia da Temperatura"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f518c1b-c648-4cbe-863e-512b486ab32e","leftValue":"={{ $('Gera EstatÔö£┬ísticas').item.json.variacao_temperatura }}","rightValue":5,"operator":{"type":"number","operation":"gt"}},{"id":"be4135ba-dee2-4c5b-a81c-c8de21ec8ee9","leftValue":"={{ $('Gera EstatÔö£┬ísticas').item.json.variacao_temperatura }}","rightValue":-5,"operator":{"type":"number","operation":"lt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,96],"id":"a9983653-2fc6-4296-a04c-c698357f2ecb","name":"Tamanho da VariaÔö£┬║Ôö£├║o"},{"parameters":{"fromEmail":"soaresgui.dev@gmail.com","toEmail":"guilherme.soares@worknow.com.br","subject":"Teste de envio de email","emailFormat":"text","text":"=OlÔö£├¡, Guilherme\n\nHoje estamos com uma variaÔö£┬║Ôö£├║o de temperatura de {{ $('Gera EstatÔö£┬ísticas').item.json.variacao_temperatura }} graus Celcius","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1344,0],"id":"70bf267e-2091-4002-b37a-449fafb691f4","name":"Alerta de alta variaÔö£┬║Ôö£├║o de temperatura","webhookId":"e957492e-af23-4f6b-82c9-a90c16e7be0f","credentials":{"smtp":{"id":"EtjRef3KVEb0B44N","name":"SMTP account"}}},{"parameters":{"content":"## Nota \nNum cenÔö£├¡rio real, eu poderia possuir uma lista de e-mails no qual poderia iterar e enviar para cada um deles","height":336},"type":"n8n-nodes-base.stickyNote","position":[1280,-160],"typeVersion":1,"id":"a0710d86-0c36-4117-b7fc-0f9821c9be0e","name":"Sticky Note"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1baOZKLvkX0nfGMDK8DCiQ7Mp9uz22mJHZEDkG0YYERA","mode":"list","cachedResultName":"Dados MetereolÔö£Ôöégicos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baOZKLvkX0nfGMDK8DCiQ7Mp9uz22mJHZEDkG0YYERA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Folha1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baOZKLvkX0nfGMDK8DCiQ7Mp9uz22mJHZEDkG0YYERA/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data_brasil","displayName":"data_brasil","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"temperatura_media","displayName":"temperatura_media","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"temperatura_maxima","displayName":"temperatura_maxima","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"temperatura_minima","displayName":"temperatura_minima","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tendencia","displayName":"tendencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"variacao_temperatura","displayName":"variacao_temperatura","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total_registros","displayName":"total_registros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,-96],"id":"7ab02134-d89b-455f-afed-c0279095ea38","name":"Somente documenta os dados metereolÔö£Ôöégicos","credentials":{"googleApi":{"id":"VJDna9uT0PamW6Iq","name":"Google Sheets account"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1baOZKLvkX0nfGMDK8DCiQ7Mp9uz22mJHZEDkG0YYERA","mode":"list","cachedResultName":"Dados MetereolÔö£Ôöégicos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baOZKLvkX0nfGMDK8DCiQ7Mp9uz22mJHZEDkG0YYERA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Folha1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baOZKLvkX0nfGMDK8DCiQ7Mp9uz22mJHZEDkG0YYERA/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data_brasil","displayName":"data_brasil","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"temperatura_media","displayName":"temperatura_media","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"temperatura_maxima","displayName":"temperatura_maxima","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"temperatura_minima","displayName":"temperatura_minima","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tendencia","displayName":"tendencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"variacao_temperatura","displayName":"variacao_temperatura","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total_registros","displayName":"total_registros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,288],"id":"dddc49ab-17d0-42d8-a2a6-8dad5e2a7850","name":"Documenta Dados MetereolÔö£Ôöégicos","credentials":{"googleApi":{"id":"VJDna9uT0PamW6Iq","name":"Google Sheets account"}}},{"parameters":{"url":"https://api.open-meteo.com/v1/forecast","sendQuery":true,"queryParameters":{"parameters":[{"name":"latitude","value":"52"},{"name":"longitude","value":"13"},{"name":"hourly","value":"temperature_2m"},{"name":"timezone","value":"America/Sao_Paulo"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"id":"648e79f3-9529-4035-afb1-16f1bfed51d9","name":"Busca dados meterolÔö£Ôöégicos"},{"parameters":{"jsCode":"// Pega todos os items do input\nconst input = $input.all();\n\n// No seu caso, o array de temperaturas estÔö£├¡ em:\nconst hourlyData = input[0].json.hourly.temperature_2m;\n\n// Cria estatÔö£┬ísticas\nconst media = hourlyData.reduce((a, b) => a + b, 0) / hourlyData.length;\nconst maxima = Math.max(...hourlyData);\nconst minima = Math.min(...hourlyData);\n\n// TendÔö£┬¼ncia simples (Ôö£Ôòæltimo - primeiro)\nconst tendencia = hourlyData[hourlyData.length - 1] - hourlyData[0];\nlet direcao = \"estÔö£├¡vel\";\nif (tendencia > 0) direcao = \"aumentando\";\nelse if (tendencia < 0) direcao = \"diminuindo\";\n\n// Data de hoje formatada\nconst hoje = new Date();\nconst dataFormatada = hoje.toISOString().split('T')[0]; // Formato YYYY-MM-DD\nconst dataCompleta = hoje.toLocaleDateString('pt-BR'); // Formato DD/MM/YYYY\n\n// Retorna resultado com data\nreturn [\n  {\n    json: {\n      data: dataFormatada,\n      data_brasil: dataCompleta,\n      temperatura_media: Number(media.toFixed(2)),\n      temperatura_maxima: maxima,\n      temperatura_minima: minima,\n      tendencia: direcao,\n      variacao_temperatura: Number(tendencia.toFixed(2)),\n      total_registros: hourlyData.length,\n      timestamp: hoje.toISOString()\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"id":"a836bedd-f0e1-4284-a972-216da20e2aa9","name":"Gera EstatÔö£┬ísticas"}],"connections":{"Webhook":{"main":[[{"node":"Busca dados meterolÔö£Ôöégicos","type":"main","index":0}]]},"TendÔö£┬¼ncia da Temperatura":{"main":[[{"node":"Somente documenta os dados metereolÔö£Ôöégicos","type":"main","index":0}],[{"node":"Tamanho da VariaÔö£┬║Ôö£├║o","type":"main","index":0}]]},"Tamanho da VariaÔö£┬║Ôö£├║o":{"main":[[{"node":"Alerta de alta variaÔö£┬║Ôö£├║o de temperatura","type":"main","index":0}],[{"node":"Documenta Dados MetereolÔö£Ôöégicos","type":"main","index":0}]]},"Alerta de alta variaÔö£┬║Ôö£├║o de temperatura":{"main":[[]]},"Somente documenta os dados metereolÔö£Ôöégicos":{"main":[[]]},"Busca dados meterolÔö£Ôöégicos":{"main":[[{"node":"Gera EstatÔö£┬ísticas","type":"main","index":0}]]},"Gera EstatÔö£┬ísticas":{"main":[[{"node":"TendÔö£┬¼ncia da Temperatura","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"self-building-ai-agent","templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ea91d0b-9995-4ab3-8d3f-80b67b2c7b9b","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-07T02:46:26.453Z","updatedAt":"2025-10-07T02:46:26.453Z","role":"workflow:owner","workflowId":"o0lsgrVEZLM8qTb5","projectId":"0lQg23KWtNiH76uA","project":{"createdAt":"2025-10-07T02:27:23.585Z","updatedAt":"2025-10-14T18:08:32.428Z","id":"0lQg23KWtNiH76uA","name":"Guilherme Soares <soaresgui.dev@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-10-09T20:37:16.416Z","updatedAt":"2025-10-14T18:24:04.166Z","id":"BufwRYHJ96adJD1q","name":"Analise de Dados do Apontamento de Horas","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"63ac06f9-c1a7-477b-9a5f-ec5a8764414d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,432],"id":"7b2df432-7122-4bdf-aa8b-ed92125e39c0","name":"Webhook","webhookId":"63ac06f9-c1a7-477b-9a5f-ec5a8764414d"},{"parameters":{"jsCode":"// Code Node - Gerar dados realistas com projetos e tickets\nconst months = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun'];\n\n// Dados dos colaboradores\nconst colaboradores = {\n  'Consultoria': [\n    { id: 1, nome: 'JoÔö£├║o Silva', senioridade: 'SÔö£┬¼nior', custo_hora: 250, especialidade: 'EstratÔö£┬«gia' },\n    { id: 2, nome: 'Maria Santos', senioridade: 'SÔö£┬¼nior', custo_hora: 280, especialidade: 'TransformaÔö£┬║Ôö£├║o Digital' },\n    { id: 3, nome: 'Carlos Oliveira', senioridade: 'Pleno', custo_hora: 180, especialidade: 'Processos' },\n    { id: 4, nome: 'Ana Costa', senioridade: 'Pleno', custo_hora: 170, especialidade: 'Tecnologia' },\n    { id: 6, nome: 'Pedro Rocha', senioridade: 'JÔö£Ôòænior', custo_hora: 45, especialidade: 'Pesquisa' }\n  ],\n  'Desenvolvimento': [\n    { id: 7, nome: 'Paulo Lima', senioridade: 'SÔö£┬¼nior', custo_hora: 200, especialidade: 'Backend' },\n    { id: 8, nome: 'Fernanda Alves', senioridade: 'Pleno', custo_hora: 150, especialidade: 'Frontend' },\n    { id: 9, nome: 'Ricardo Souza', senioridade: 'JÔö£Ôòænior', custo_hora: 80, especialidade: 'Fullstack' }\n  ],\n  'Suporte': [\n    { id: 10, nome: 'Roberto Dias', senioridade: 'Pleno', custo_hora: 100, especialidade: 'Infraestrutura' },\n    { id: 11, nome: 'Juliana Moraes', senioridade: 'JÔö£Ôòænior', custo_hora: 70, especialidade: 'Atendimento' }\n  ]\n};\n\n// Projetos de consultoria (orÔö£┬║ados)\nconst projetosConsultoria = [\n  { id: 'PJ-001', cliente: 'Empresa A', nome: 'TransformaÔö£┬║Ôö£├║o Digital', horas_orcadas: 320, valor_orcado: 120000, responsavel: 1 },\n  { id: 'PJ-002', cliente: 'Empresa B', nome: 'OtimizaÔö£┬║Ôö£├║o de Processos', horas_orcadas: 200, valor_orcado: 80000, responsavel: 3 },\n  { id: 'PJ-003', cliente: 'Empresa C', nome: 'ImplementaÔö£┬║Ôö£├║o ERP', horas_orcadas: 480, valor_orcado: 150000, responsavel: 2 },\n  { id: 'PJ-004', cliente: 'Empresa D', nome: 'AnÔö£├¡lise de Dados', horas_orcadas: 160, valor_orcado: 60000, responsavel: 2 },\n  { id: 'PJ-005', cliente: 'Empresa E', nome: 'EstratÔö£┬«gia TI', horas_orcadas: 240, valor_orcado: 100000, responsavel: 4 }\n];\n\n// Projetos de desenvolvimento\nconst projetosDesenvolvimento = [\n  { id: 'DEV-001', nome: 'Sistema GestÔö£├║o', horas_orcadas: 400, tipo: 'Produto Interno' },\n  { id: 'DEV-002', nome: 'App Mobile', horas_orcadas: 320, tipo: 'Projeto Cliente' },\n  { id: 'DEV-003', nome: 'API IntegraÔö£┬║Ôö£├║o', horas_orcadas: 200, tipo: 'Projeto Cliente' }\n];\n\n// Tipos de tickets de suporte\nconst tiposTicket = [\n  { tipo: 'CrÔö£┬ítico', prioridade: 'Alta', tempo_medio_resolucao: 4 },\n  { tipo: 'Alta', prioridade: 'Alta', tempo_medio_resolucao: 8 },\n  { tipo: 'MÔö£┬«dia', prioridade: 'MÔö£┬«dia', tempo_medio_resolucao: 24 },\n  { tipo: 'Baixa', prioridade: 'Baixa', tempo_medio_resolucao: 48 }\n];\n\nconst generateMockDataRealista = () => {\n  const data = [];\n  \n  for (let month of months) {\n    // CONSULTORIA - Dados por projeto\n    for (let projeto of projetosConsultoria) {\n      const responsavel = colaboradores['Consultoria'].find(c => c.id === projeto.responsavel);\n      if (responsavel) {\n        const horasTrabalhadas = Math.floor(Math.random() * 40) + 150; // 150-190h/mÔö£┬¼s\n        const horasFaturadas = Math.min(horasTrabalhadas, 160); // MÔö£├¡ximo 160h faturÔö£├¡veis\n        const percentualConclusao = Math.min(100, ((months.indexOf(month) + 1) * 15) + Math.random() * 10);\n        \n        data.push({\n          tipo_registro: 'projeto_consultoria',\n          mes: month,\n          equipe: 'Consultoria',\n          colaborador_id: responsavel.id,\n          nome: responsavel.nome,\n          senioridade: responsavel.senioridade,\n          especialidade: responsavel.especialidade,\n          projeto_id: projeto.id,\n          projeto_nome: projeto.nome,\n          cliente: projeto.cliente,\n          horas_orcadas: projeto.horas_orcadas,\n          horas_trabalhadas: horasTrabalhadas,\n          horas_faturadas: horasFaturadas,\n          valor_orcado: projeto.valor_orcado,\n          valor_faturado: (horasFaturadas * (projeto.valor_orcado / projeto.horas_orcadas)),\n          percentual_conclusao: percentualConclusao,\n          status: percentualConclusao >= 100 ? 'ConcluÔö£┬ído' : 'Em Andamento',\n          custo_hora: responsavel.custo_hora,\n          horas_extras: Math.max(0, horasTrabalhadas - 160)\n        });\n      }\n    }\n    \n    // DESENVOLVIMENTO - Dados por projeto/tarefa\n    for (let projeto of projetosDesenvolvimento) {\n      for (let dev of colaboradores['Desenvolvimento']) {\n        const horasTrabalhadas = Math.floor(Math.random() * 30) + 140;\n        const tarefasConcluidas = Math.floor(Math.random() * 15) + 5;\n        \n        data.push({\n          tipo_registro: 'projeto_desenvolvimento',\n          mes: month,\n          equipe: 'Desenvolvimento',\n          colaborador_id: dev.id,\n          nome: dev.nome,\n          senioridade: dev.senioridade,\n          especialidade: dev.especialidade,\n          projeto_id: projeto.id,\n          projeto_nome: projeto.nome,\n          tipo_projeto: projeto.tipo,\n          horas_orcadas: projeto.horas_orcadas,\n          horas_trabalhadas: horasTrabalhadas,\n          tarefas_concluidas: tarefasConcluidas,\n          bugs_corrigidos: Math.floor(Math.random() * 10),\n          custo_hora: dev.custo_hora,\n          horas_extras: Math.max(0, horasTrabalhadas - 160)\n        });\n      }\n    }\n    \n    // SUPORTE - Dados por ticket\n    for (let sup of colaboradores['Suporte']) {\n      const totalTickets = Math.floor(Math.random() * 40) + 60;\n      const ticketsCriticos = Math.floor(Math.random() * 8) + 2;\n      \n      data.push({\n        tipo_registro: 'ticket_suporte',\n        mes: month,\n        equipe: 'Suporte',\n        colaborador_id: sup.id,\n        nome: sup.nome,\n        senioridade: sup.senioridade,\n        especialidade: sup.especialidade,\n        tickets_atendidos: totalTickets,\n        tickets_criticos: ticketsCriticos,\n        tickets_media: Math.floor(totalTickets * 0.4),\n        tickets_baixa: totalTickets - ticketsCriticos - Math.floor(totalTickets * 0.4),\n        tempo_medio_resolucao: (Math.random() * 4) + 2, // 2-6 horas\n        horas_trabalhadas: Math.floor(Math.random() * 40) + 160,\n        custo_hora: sup.custo_hora,\n        horas_extras: Math.floor(Math.random() * 15)\n      });\n    }\n  }\n  \n  return data;\n};\n\n// Retornar dados estruturados\nreturn [{ \n  json: { \n    dados: generateMockDataRealista(),\n    colaboradores: colaboradores,\n    projetos_consultoria: projetosConsultoria,\n    projetos_desenvolvimento: projetosDesenvolvimento,\n    metadados: {\n      total_meses: months.length,\n      total_colaboradores: Object.values(colaboradores).flat().length,\n      total_projetos: projetosConsultoria.length + projetosDesenvolvimento.length\n    }\n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,432],"id":"81a733dd-e61a-44be-b82a-060f083d1785","name":"Mock de dados - Tabela de Apontamentos"},{"parameters":{"language":"python","pythonCode":"import json\nimport pandas as pd\n\nitem = _input.all()[0]\ndados = item.json['dados']\ncolaboradores = item.json['colaboradores']\nprojetos_consultoria = item.json['projetos_consultoria']\n\ndf = pd.DataFrame(dados)\n\nresultado = {\n    \"resumo_geral\": {},\n    \"analise_consultoria\": {},\n    \"analise_desenvolvimento\": {},\n    \"analise_suporte\": {},\n    \"seu_desempenho\": {}\n}\n\n# RESUMO GERAL\nresultado[\"resumo_geral\"] = {\n    \"total_registros\": len(df),\n    \"equipes_ativas\": df['equipe'].unique().tolist(),\n    \"meses_analisados\": df['mes'].unique().tolist(),\n    \"total_colaboradores\": df['nome'].nunique()\n}\n\n# ANÔö£├╝LISE POR EQUIPE\nanalise_equipe = df.groupby('equipe').agg({\n    'horas_trabalhadas': 'sum',\n    'horas_extras': 'sum',\n    'custo_hora': 'mean'\n}).round(2)\n\nresultado[\"analise_por_equipe\"] = analise_equipe.reset_index().to_dict('records')\n\n# CONSULTORIA - AnÔö£├¡lise de Projetos\nif 'projeto_id' in df.columns:\n    consultoria_df = df[df['equipe'] == 'Consultoria']\n    \n    # AnÔö£├¡lise por projeto\n    projetos_analise = consultoria_df.groupby('projeto_id').agg({\n        'horas_orcadas': 'first',\n        'horas_trabalhadas': 'sum',\n        'valor_orcado': 'first',\n        'valor_faturado': 'sum',\n        'percentual_conclusao': 'max'\n    }).round(2)\n    \n    projetos_analise['horas_excedidas'] = projetos_analise['horas_trabalhadas'] - projetos_analise['horas_orcadas']\n    projetos_analise['lucro_prejuizo'] = projetos_analise['valor_faturado'] - (projetos_analise['horas_trabalhadas'] * consultoria_df['custo_hora'].mean())\n    \n    resultado[\"analise_consultoria\"][\"projetos\"] = projetos_analise.reset_index().to_dict('records')\n    \n    # EficiÔö£┬¼ncia por consultor\n    eficiencia_consultores = consultoria_df.groupby('nome').agg({\n        'horas_trabalhadas': 'sum',\n        'valor_faturado': 'sum',\n        'custo_hora': 'first'\n    }).round(2)\n    \n    eficiencia_consultores['custo_total'] = eficiencia_consultores['horas_trabalhadas'] * eficiencia_consultores['custo_hora']\n    eficiencia_consultores['lucratividade'] = eficiencia_consultores['valor_faturado'] - eficiencia_consultores['custo_total']\n    eficiencia_consultores['roi'] = (eficiencia_consultores['lucratividade'] / eficiencia_consultores['custo_total'] * 100).round(2)\n    \n    resultado[\"analise_consultoria\"][\"consultores\"] = eficiencia_consultores.reset_index().to_dict('records')\n\n\n# DESENVOLVIMENTO - AnÔö£├¡lise de Produtividade\nif 'tarefas_concluidas' in df.columns:\n    dev_df = df[df['equipe'] == 'Desenvolvimento']\n    \n    dev_analise = dev_df.groupby('nome').agg({\n        'horas_trabalhadas': 'sum',\n        'tarefas_concluidas': 'sum',\n        'bugs_corrigidos': 'sum',\n        'custo_hora': 'first'\n    }).round(2)\n    \n    dev_analise['produtividade'] = (dev_analise['tarefas_concluidas'] / dev_analise['horas_trabalhadas']).round(3)\n    dev_analise['custo_por_tarefa'] = ((dev_analise['horas_trabalhadas'] * dev_analise['custo_hora']) / dev_analise['tarefas_concluidas']).round(2)\n    \n    resultado[\"analise_desenvolvimento\"] = dev_analise.reset_index().to_dict('records')\n\n# SUPORTE - AnÔö£├¡lise de EficiÔö£┬¼ncia\nif 'tickets_atendidos' in df.columns:\n    sup_df = df[df['equipe'] == 'Suporte']\n    \n    sup_analise = sup_df.groupby('nome').agg({\n        'tickets_atendidos': 'sum',\n        'tickets_criticos': 'sum',\n        'horas_trabalhadas': 'sum',\n        'tempo_medio_resolucao': 'mean',\n        'custo_hora': 'first'\n    }).round(2)\n    \n    sup_analise['tickets_por_hora'] = (sup_analise['tickets_atendidos'] / sup_analise['horas_trabalhadas']).round(3)\n    sup_analise['custo_por_ticket'] = ((sup_analise['horas_trabalhadas'] * sup_analise['custo_hora']) / sup_analise['tickets_atendidos']).round(2)\n    \n    resultado[\"analise_suporte\"] = sup_analise.reset_index().to_dict('records')\n\nreturn [{\"json\": resultado}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,432],"id":"b6b52a7a-7811-4273-b96b-38f494090f79","name":"AnÔö£├¡lise de dados com Python - Pandas"},{"parameters":{"jsCode":"const data = $input.all()[0].json;\n\n// HTML simplificado sem JavaScript complexo\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        * {\n            box-sizing: border-box;\n        }\n        \n        body { \n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n            margin: 0;\n            padding: 20px;\n            background: #f8f9fa;\n            max-width: 1200px;\n            margin: 0 auto;\n        }\n        \n        .card { \n            background: white; \n            padding: 20px; \n            margin: 15px 0; \n            border-radius: 10px; \n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n        }\n        \n        .destaque { \n            background: #e8f5e8; \n            border-left: 4px solid #27ae60; \n        }\n        \n        table { \n            width: 100%; \n            border-collapse: collapse; \n            margin: 10px 0; \n        }\n        \n        th, td { \n            padding: 12px; \n            text-align: left; \n            border-bottom: 1px solid #ddd; \n        }\n        \n        th { \n            background: #34495e; \n            color: white; \n        }\n        \n        .positivo { \n            color: #27ae60; \n            font-weight: bold; \n        }\n        \n        .negativo {\n            color: #e74c3c;\n            font-weight: bold;\n        }\n        \n        .grafico-simples {\n            background: white;\n            padding: 20px;\n            margin: 15px 0;\n            border-radius: 10px;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n        }\n        \n        .barra-container {\n            margin: 10px 0;\n        }\n        \n        .barra {\n            height: 30px;\n            background: linear-gradient(90deg, #3498db, #2980b9);\n            border-radius: 5px;\n            margin: 5px 0;\n            position: relative;\n            transition: transform 0.3s ease;\n            min-width: 60px;\n        }\n        \n        .barra:hover {\n            transform: scale(1.02);\n        }\n        \n        .barra.destaque {\n            background: linear-gradient(90deg, #27ae60, #2ecc71);\n        }\n        \n        .barra-label {\n            position: absolute;\n            left: 10px;\n            top: 50%;\n            transform: translateY(-50%);\n            color: white;\n            font-weight: bold;\n            text-shadow: 1px 1px 2px rgba(0,0,0,0.5);\n            z-index: 2;\n        }\n        \n        .barra-valor {\n            position: absolute;\n            right: 10px;\n            top: 50%;\n            transform: translateY(-50%);\n            color: white;\n            font-weight: bold;\n            z-index: 2;\n        }\n        \n        .pizza-container {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 20px;\n            margin: 20px 0;\n        }\n        \n        .pizza-item {\n            text-align: center;\n            padding: 15px;\n            border-radius: 10px;\n            background: white;\n            box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n        }\n        \n        .pizza-cor {\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: inline-block;\n            margin-right: 10px;\n        }\n        \n        h1 {\n            color: #2c3e50;\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        h2, h3 {\n            color: #2c3e50;\n            margin-top: 0;\n        }\n        \n        .stats-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 20px;\n            margin: 20px 0;\n        }\n        \n        .stat-item {\n            text-align: center;\n            padding: 20px;\n            border-radius: 10px;\n            background: white;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n        }\n        \n        /* Responsividade */\n        @media (max-width: 768px) {\n            body {\n                padding: 10px;\n            }\n            \n            .barra-label, .barra-valor {\n                font-size: 0.8em;\n            }\n            \n            .pizza-container, .stats-grid {\n                grid-template-columns: 1fr;\n            }\n            \n            .card > div {\n                grid-template-columns: 1fr;\n            }\n            \n            table {\n                font-size: 0.9em;\n            }\n            \n            th, td {\n                padding: 8px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <h1>┬¡ãÆ├┤├¿ Dashboard Performance - VisualizaÔö£┬║Ôö£├║o Geral</h1>\n\n    <!-- RESUMO ESTATÔö£├¼STICO GERAL -->\n    <div class=\"card\">\n        <h2>┬¡ãÆ├┤├¬ EstatÔö£┬ísticas Gerais da Empresa</h2>\n        <div class=\"stats-grid\">\n            <div class=\"stat-item\" style=\"background: #e8f4fd;\">\n                <div style=\"font-size: 2em; color: #3498db;\">┬¡ãÆ├ª├æ</div>\n                <div style=\"font-size: 1.5em; font-weight: bold;\">${data.analise_consultoria.consultores.length}</div>\n                <div style=\"color: #666;\">Total de Consultores</div>\n            </div>\n            <div class=\"stat-item\" style=\"background: #e8f6e8;\">\n                <div style=\"font-size: 2em; color: #27ae60;\">┬¡ãÆ├åÔûæ</div>\n                <div style=\"font-size: 1.5em; font-weight: bold;\">R$ ${data.analise_consultoria.consultores.reduce((total, c) => total + (c.lucratividade || 0), 0).toLocaleString('pt-BR')}</div>\n                <div style=\"color: #666;\">Lucro Total</div>\n            </div>\n            <div class=\"stat-item\" style=\"background: #fef9e7;\">\n                <div style=\"font-size: 2em; color: #f39c12;\">├ö├àÔûÆ┬┤┬®├à</div>\n                <div style=\"font-size: 1.5em; font-weight: bold;\">${data.analise_por_equipe.reduce((total, e) => total + (e.horas_trabalhadas || 0), 0)}h</div>\n                <div style=\"color: #666;\">Horas Totais</div>\n            </div>\n            <div class=\"stat-item\" style=\"background: #f4ecf7;\">\n                <div style=\"font-size: 2em; color: #8e44ad;\">┬¡ãÆ├à├│</div>\n                <div style=\"font-size: 1.5em; font-weight: bold;\">${data.analise_por_equipe.length}</div>\n                <div style=\"color: #666;\">Equipes Ativas</div>\n            </div>\n        </div>\n    </div>\n\n    <!-- GRÔö£├╝FICO DE BARRAS SIMPLES - ROI -->\n    <div class=\"grafico-simples\">\n        <h3>┬¡ãÆ├┤├¿ ROI por Consultor</h3>\n        <div class=\"barra-container\">\n            ${data.analise_consultoria.consultores\n                .sort((a, b) => b.roi - a.roi)\n                .map((consultor, index) => {\n                    const maxRoi = Math.max(...data.analise_consultoria.consultores.map(c => c.roi));\n                    const width = maxRoi > 0 ? Math.max((consultor.roi / maxRoi) * 100, 5) : 0;\n                    const isTopPerformer = index === 0;\n                    return `\n                    <div class=\"barra ${isTopPerformer ? 'destaque' : ''}\" \n                         style=\"width: ${width}%\">\n                        <span class=\"barra-label\">${consultor.nome} ${isTopPerformer ? '┬¡ãÆ├ª├ª' : ''}</span>\n                        <span class=\"barra-valor\">${consultor.roi}%</span>\n                    </div>\n                    `;\n                }).join('')}\n        </div>\n    </div>\n\n    <!-- DISTRIBUIÔö£├ºÔö£├óO DE HORAS - PIZZA VISUAL -->\n    <div class=\"grafico-simples\">\n        <h3>┬¡ãÆ├┤├¬ DistribuiÔö£┬║Ôö£├║o de Horas por Equipe</h3>\n        <div class=\"pizza-container\">\n            ${data.analise_por_equipe.map((equipe, index) => {\n                const cores = ['#667eea', '#764ba2', '#f093fb', '#f5576c', '#4ecdc4', '#45b7d1'];\n                const totalHoras = data.analise_por_equipe.reduce((sum, e) => sum + (e.horas_trabalhadas || 0), 0);\n                const porcentagem = totalHoras > 0 ? ((equipe.horas_trabalhadas / totalHoras) * 100).toFixed(1) : '0.0';\n                const cor = cores[index] || '#999999';\n                \n                return `\n                <div class=\"pizza-item\">\n                    <div style=\"display: flex; align-items: center; justify-content: center; margin-bottom: 10px;\">\n                        <span class=\"pizza-cor\" style=\"background: ${cor}\"></span>\n                        <strong>${equipe.equipe}</strong>\n                    </div>\n                    <div style=\"font-size: 1.5em; font-weight: bold; color: ${cor}\">\n                        ${porcentagem}%\n                    </div>\n                    <div style=\"color: #666; font-size: 0.9em;\">\n                        ${equipe.horas_trabalhadas}h trabalhadas\n                    </div>\n                </div>\n                `;\n            }).join('')}\n        </div>\n    </div>\n\n    <!-- COMPARAÔö£├ºÔö£├óO DE LUCRO -->\n    <div class=\"grafico-simples\">\n        <h3>┬¡ãÆ├åÔûæ Lucratividade dos Consultores</h3>\n        <div class=\"barra-container\">\n            ${data.analise_consultoria.consultores\n                .sort((a, b) => b.lucratividade - a.lucratividade)\n                .map((consultor, index) => {\n                    const maxLucro = Math.max(...data.analise_consultoria.consultores.map(c => c.lucratividade));\n                    const width = maxLucro > 0 ? Math.max((consultor.lucratividade / maxLucro) * 100, 5) : 0;\n                    const isTopEarner = index === 0;\n                    return `\n                    <div class=\"barra ${isTopEarner ? 'destaque' : ''}\" \n                         style=\"width: ${width}%\">\n                        <span class=\"barra-label\">${consultor.nome} ${isTopEarner ? '┬¡ãÆ├åÔûæ' : ''}</span>\n                        <span class=\"barra-valor\">R$ ${typeof consultor.lucratividade === 'number' ? consultor.lucratividade.toLocaleString('pt-BR') : consultor.lucratividade}</span>\n                    </div>\n                    `;\n                }).join('')}\n        </div>\n    </div>\n\n    <!-- DADOS DETALHADOS -->\n    <div class=\"card\">\n        <h2>┬¡ãÆ├┤├» Dados Detalhados</h2>\n        <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 20px;\">\n            <div>\n                <h3>┬¡ãÆ├ª├æ Ranking de Consultores - ROI</h3>\n                <table>\n                    <tr><th>PosiÔö£┬║Ôö£├║o</th><th>Nome</th><th>ROI</th></tr>\n                    ${data.analise_consultoria.consultores\n                        .sort((a, b) => b.roi - a.roi)\n                        .map((consultor, index) => \n                        `<tr ${index === 0 ? 'style=\"background: #e8f5e8;\"' : ''}>\n                            <td>${index + 1}Ôö¼Ôòæ</td>\n                            <td>${consultor.nome} ${index === 0 ? '┬¡ãÆ├ª├ª' : ''}</td>\n                            <td class=\"${consultor.roi >= 0 ? 'positivo' : 'negativo'}\">${consultor.roi}%</td>\n                        </tr>`\n                        ).join('')}\n                </table>\n            </div>\n            <div>\n                <h3>┬¡ãÆ├à├│ Desempenho por Equipe</h3>\n                <table>\n                    <tr><th>Equipe</th><th>Horas</th><th>% Total</th></tr>\n                    ${data.analise_por_equipe\n                        .sort((a, b) => b.horas_trabalhadas - a.horas_trabalhadas)\n                        .map(equipe => {\n                            const totalHoras = data.analise_por_equipe.reduce((sum, e) => sum + (e.horas_trabalhadas || 0), 0);\n                            const porcentagem = totalHoras > 0 ? ((equipe.horas_trabalhadas / totalHoras) * 100).toFixed(1) : '0.0';\n                            return `\n                            <tr>\n                                <td>${equipe.equipe}</td>\n                                <td>${equipe.horas_trabalhadas}h</td>\n                                <td>${porcentagem}%</td>\n                            </tr>`;\n                        }).join('')}\n                </table>\n            </div>\n        </div>\n    </div>\n\n    <div style=\"text-align: center; color: #666; margin-top: 30px; padding: 20px; background: white; border-radius: 10px;\">\n        <strong>┬¡ãÆ├┤├¿ Dashboard Gerado em ${new Date().toLocaleString('pt-BR')}</strong>\n        <br>\n        <em>VisualizaÔö£┬║Ôö£├║o geral de performance - Dados consolidados</em>\n    </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html: html } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,432],"id":"57d8f4ba-2ffa-4b15-beb4-964a1d36fd2e","name":"Transforma dados em HTML"},{"parameters":{"content":"## Mock de Tabela \nEm um cenario real, eu poderia extrair os dados de uma tabela no excel, por exemplo.","height":320},"type":"n8n-nodes-base.stickyNote","position":[64,272],"typeVersion":1,"id":"a149b935-e603-4707-a03b-aaa37aae5378","name":"Sticky Note"},{"parameters":{"html":"{{ $json.html }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1072,432],"id":"9401cfa4-5a08-43d3-8063-78a1d75e3084","name":"HTML"},{"parameters":{"content":"## Modelo de exibicao dos dados\n\nNuma aplicaÔö£┬║Ôö£├║o real, eu poderia enviar um report semanal por e-mail para os gestores por exemplo","height":400},"type":"n8n-nodes-base.stickyNote","position":[1008,192],"typeVersion":1,"id":"79eb5768-eeeb-4000-91fa-e504fc484811","name":"Sticky Note1"},{"parameters":{"documentId":{"__rl":true,"value":"1UvxkV7rfTpKkJyl8fiJ6Dod6VJE8iHygwhPO283nnvY","mode":"list","cachedResultName":"entregas_20251014113404","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvxkV7rfTpKkJyl8fiJ6Dod6VJE8iHygwhPO283nnvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1525225853,"mode":"list","cachedResultName":"Eleve","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UvxkV7rfTpKkJyl8fiJ6Dod6VJE8iHygwhPO283nnvY/edit#gid=1525225853"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[128,-608],"id":"d785ddf8-cab9-46f3-b103-eee14a27dee9","name":"Busca dados da planilha do Eleve","credentials":{"googleSheetsOAuth2Api":{"id":"2rzLqN5TbC5BWA8s","name":"Conta Pessoal"}}},{"parameters":{"content":"## Criterio de Integracao\n- Status da Atividade","height":272},"type":"n8n-nodes-base.stickyNote","position":[800,-736],"typeVersion":1,"id":"edbe3d16-c5d0-4a0a-a5c6-674a24e68bae","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0b0f34a-ed5f-408c-946a-fe12b6479eee","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,-608],"id":"b43b4879-2087-413f-9a27-13801286cacc","name":"Em Andamento?"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"GET","":"","url":"https://api.miro.com/v2/","authentication":"predefinedCredentialType","nodeCredentialType":"miroOAuth2Api","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,-496],"id":"45c57ca1-197f-4b6b-9168-de7d01440f73","name":"Finaliza Atividades no Kanban","extendsCredential":"miroOAuth2Api","credentials":{"miroOAuth2Api":{"id":"CWK7PjLppKGfSAVA","name":"Miro account"}}},{"parameters":{"content":"## Problematica\n\nEncontrar uma forma de validar a existencia de uma atividade presente na planilha, ja existente no Miro pra evitar duplicidade","height":176,"color":3},"type":"n8n-nodes-base.stickyNote","position":[112,-1312],"typeVersion":1,"id":"ce76e244-ddca-4855-82eb-1e83e92c4534","name":"Sticky Note3"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"GET","":"","url":"https://api.miro.com/v2/","authentication":"predefinedCredentialType","nodeCredentialType":"miroOAuth2Api","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,-864],"id":"1a4d5fbd-6273-4218-8ed3-53127cd20de1","name":"Atualiza Status da Atividade","extendsCredential":"miroOAuth2Api","credentials":{"miroOAuth2Api":{"id":"CWK7PjLppKGfSAVA","name":"Miro account"}}},{"parameters":{"content":"## Criteio de Criacao de Cards no Miro","height":240},"type":"n8n-nodes-base.stickyNote","position":[1120,-816],"typeVersion":1,"id":"68b8ed19-a148-4fd5-b45f-b7154f668d56","name":"Sticky Note4"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"GET","":"","url":"https://api.miro.com/v2/","authentication":"predefinedCredentialType","nodeCredentialType":"miroOAuth2Api","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,-608],"id":"b4fdd901-917f-42a4-9f6d-494d235a92f8","name":"Cria novo card","extendsCredential":"miroOAuth2Api","credentials":{"miroOAuth2Api":{"id":"CWK7PjLppKGfSAVA","name":"Miro account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"890d0a96-3f25-46f9-8fd3-24f0baf659ff","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1184,-720],"id":"846c8da6-3ee5-4210-a519-c11ff2fc0b91","name":"Card existente?"},{"parameters":{"content":"## Etapas do Miro\n- Backlog\n- Andamento\n- Parados (Aguardando Cliente)\n- Pausados (Clientes TOTVS)\n- Projetos Travados\n- Em fase de finalizacao\n- GoLive","height":272,"width":384},"type":"n8n-nodes-base.stickyNote","position":[112,-1104],"typeVersion":1,"id":"b487118a-fbf0-4c14-b0fc-585935921013","name":"Sticky Note5"},{"parameters":{"content":"## Atributos do Card do Miro\n\n- Titulo\n- Status\n- Responsavel\n- Estimativa\n- Data Inicial\n- Data Final\n- Prioridade\n- Consultores","height":336},"type":"n8n-nodes-base.stickyNote","position":[-160,-1104],"typeVersion":1,"id":"b9bacc7a-8d60-40f6-bd4b-246f67bb3304","name":"Sticky Note6"},{"parameters":{"content":"## Criacao de Tags\n\n- Depois verificar a viabilidade da criacao dinamica das tags","color":4},"type":"n8n-nodes-base.stickyNote","position":[-160,-1312],"typeVersion":1,"id":"89cba3b5-f479-46d0-84ca-ded3d4e12734","name":"Sticky Note7"},{"parameters":{"content":"## Gerenciamento de Projetos no Miro\n\n- Contribui pra verificacao do apontamento de horas","color":6},"type":"n8n-nodes-base.stickyNote","position":[-160,-1520],"typeVersion":1,"id":"92d9a84a-1774-4adf-aecd-ecda0ebcb93a","name":"Sticky Note8"},{"parameters":{"content":"## Persiste os Dados entre execucoes\n\n\n\n\n\n\n\n\n\n\n\n\n- Tabela: Mapeamento Eleve Miro\n\n**Porque faz sentido?** Inserimos na tupla da atividade do Eleve o identificador unico do card do Miro, assim conseguimos ter um mapeamento","height":416},"type":"n8n-nodes-base.stickyNote","position":[304,-704],"typeVersion":1,"id":"0abb916f-50fb-41cd-b16d-4a5b37f7fda7","name":"Sticky Note9"},{"parameters":{"dataTableId":{"__rl":true,"value":"xyqx61Mp1FAmssef","mode":"list","cachedResultName":"Cards do Miro","cachedResultUrl":"/projects/0lQg23KWtNiH76uA/datatables/xyqx61Mp1FAmssef"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[576,-608],"id":"d1fa9140-80d4-40fd-b1af-99491c1effe5","name":"Inserir tupla"},{"parameters":{"content":"## Fluxo Principal: Sincronizacao Eleve-Miro\n1. Importar dados do Eleve (XLS)\n\nLer arquivo Excel/CSV\n\nProcessar e estruturar os dados\n\n2. Para cada atividade do Eleve:\n\n2.1. Consultar tabela \"Mapeamento Eleve-Miro\" usando ID_ENTREGA\n\n2.2. SE nao existe registro:\n\n2.2.1. Criar novo card no Miro\n\n2.2.2. Inserir na tabela mapeamento: ID_ENTREGA + MIRO_CARD_ID\n\n2.2.3. Continuar para proxima atividade\n\n2.3. SE existe registro:\n\n2.3.1. Comparar dados atuais com dados \nanteriores\n\n**Poderia criar um campo hash que e o calculo de todos os campos essenciais, se tiver diferente, significa que existem alteracoes a serem feitas**\n\n2.3.2. SE houve alteracoes:\n\n2.3.2.1. Atualizar card no Miro (usando MIRO_CARD_ID)\n\n2.3.2.2. Atualizar registro na tabela mapeamento\n\n2.3.3. SE nao houve alteracoes:\n\nManter como esta","height":720,"width":432},"type":"n8n-nodes-base.stickyNote","position":[-368,-704],"typeVersion":1,"id":"db582d85-aded-4812-b329-2239cfd8292f","name":"Sticky Note10"},{"parameters":{"operation":"rowNotExists","dataTableId":{"__rl":true,"value":"xyqx61Mp1FAmssef","mode":"list","cachedResultName":"Cards do Miro","cachedResultUrl":"/projects/0lQg23KWtNiH76uA/datatables/xyqx61Mp1FAmssef"},"filters":{"conditions":[{}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[368,-608],"id":"8ccd4ffb-53d2-4f91-a667-7d4ad6b4ae7f","name":"Se a tupla nao existir"}],"connections":{"Webhook":{"main":[[{"node":"Mock de dados - Tabela de Apontamentos","type":"main","index":0}]]},"Mock de dados - Tabela de Apontamentos":{"main":[[{"node":"AnÔö£├¡lise de dados com Python - Pandas","type":"main","index":0}]]},"AnÔö£├¡lise de dados com Python - Pandas":{"main":[[{"node":"Transforma dados em HTML","type":"main","index":0}]]},"Transforma dados em HTML":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Busca dados da planilha do Eleve":{"main":[[{"node":"Se a tupla nao existir","type":"main","index":0}]]},"Finaliza Atividades no Kanban":{"main":[[]]},"Em Andamento?":{"main":[[{"node":"Card existente?","type":"main","index":0}],[{"node":"Finaliza Atividades no Kanban","type":"main","index":0}]]},"Atualiza Status da Atividade":{"main":[[]]},"Card existente?":{"main":[[{"node":"Atualiza Status da Atividade","type":"main","index":0}],[{"node":"Cria novo card","type":"main","index":0}]]},"Se a tupla nao existir":{"main":[[{"node":"Inserir tupla","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7f0badb-bbcd-42eb-b484-b3fe46e685b3","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-09T20:37:16.416Z","updatedAt":"2025-10-09T20:37:16.416Z","role":"workflow:owner","workflowId":"BufwRYHJ96adJD1q","projectId":"0lQg23KWtNiH76uA","project":{"createdAt":"2025-10-07T02:27:23.585Z","updatedAt":"2025-10-14T18:08:32.428Z","id":"0lQg23KWtNiH76uA","name":"Guilherme Soares <soaresgui.dev@gmail.com>","type":"personal","icon":null,"description":null}}]}]
