workflows/fadIZ4iEYHzs7n1r-Deletar-todos-os-cards-do-board-do-Trello-2025-10-19_17-46-47.json
{
  "exportedAt": "2025-10-19_17-46-47",
  "exportMethod": "n8n-cli",
  "originalId": "fadIZ4iEYHzs7n1r",
  "workflow": {
    "createdAt": "2025-10-19T19:39:57.460Z",
    "updatedAt": "2025-10-19T20:16:26.300Z",
    "id": "fadIZ4iEYHzs7n1r",
    "name": "Deletar todos os cards do board do Trello",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "resource": "list",
          "operation": "getAll",
          "id": "68efda56390f75b3d28e5193",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          576,
          -272
        ],
        "id": "9df58616-8fb6-47f8-b04c-5b2b34da54cc",
        "name": "Buscar todas as listas",
        "credentials": {
          "trelloApi": {
            "id": "ENG2qAmToy7aHVHS",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "id": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          1200,
          -272
        ],
        "id": "b975ad47-4490-421b-bc53-2b53fd4e7b41",
        "name": "Delete a card",
        "credentials": {
          "trelloApi": {
            "id": "ENG2qAmToy7aHVHS",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "id",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1040,
          -272
        ],
        "id": "5c1cb491-84c2-4022-8c46-72ffb66be43f",
        "name": "Split Out"
      },
      {
        "parameters": {
          "fieldToSplitOut": "id",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          720,
          -272
        ],
        "id": "4fafa1d9-7626-4537-9fda-033ee81927c2",
        "name": "Split Out1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          416,
          -272
        ],
        "id": "e4528193-35a9-43b8-a679-9a310a857c25",
        "name": "Executar"
      },
      {
        "parameters": {
          "resource": "list",
          "operation": "getCards",
          "id": "={{ $json.id }}",
          "returnAll": true,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          880,
          -272
        ],
        "id": "4357a780-09b3-4beb-8d56-23844ace6c61",
        "name": "Buscar todos os cards de uma lista",
        "credentials": {
          "trelloApi": {
            "id": "ENG2qAmToy7aHVHS",
            "name": "Trello account"
          }
        }
      }
    ],
    "connections": {
      "Buscar todas as listas": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a card": {
        "main": [
          []
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Delete a card",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "Buscar todos os cards de uma lista",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Executar": {
        "main": [
          [
            {
              "node": "Buscar todas as listas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar todos os cards de uma lista": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "9416f7f9-5efa-4999-b44f-8dd01e2e34da",
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-10-19T19:39:57.460Z",
        "updatedAt": "2025-10-19T19:39:57.460Z",
        "role": "workflow:owner",
        "workflowId": "fadIZ4iEYHzs7n1r",
        "projectId": "aOe9xFfe8tM1dmBL",
        "project": {
          "createdAt": "2025-10-17T20:19:31.987Z",
          "updatedAt": "2025-10-17T20:20:53.343Z",
          "id": "aOe9xFfe8tM1dmBL",
          "name": "Guilherme Soares <guilherme.soares@worknow.com.br>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  }
}
